@page
@model Anslagstavlan.Pages.CreateChatRoomModel
@{
}

<div class="text-center">
    <form method="post" enctype="multipart/form-data">
        <div class="mb-1">
            <label for="username">Chat room name:</label><br>
            <input required type="text" id="username" asp-for="@Model.ChatRoom.ChatRoomName">
        </div>
        <div class="mb-1">
            <label for="img">Upload image:</label> <br>
            <input type="file" id="img" asp-for="@Model.Image" />
        </div>
        <div class="mb-2">
            <input type="submit" />
        </div>
    </form>
</div>
