@page
@model Anslagstavlan.Pages.DeleteChatRoomModel
@{
}

<div class="text-center">
    <h1>Select a room to delete</h1>
</div>

@if (Model.Rooms != null)
{
    @foreach (var room in Model.Rooms)
    {
        <div class="text-center">

            <form method="post">
                <p>
                    @room.ChatRoomName
                    <button class="btn btn-danger" asp-route-id="@room.ChatRoomId" asp-page-handler="Post">Delete</button>
                </p>
            </form>

        </div>
    }
}