@page
@model Anslagstavlan.Pages.Edit2ChatRoomModel
@{
}

<div class="text-center">
    <h1 class="display-4">Edit room</h1>

    <form method="post" asp-page-handler="Edit">
        <input hidden asp-for="@Model.Room.ChatRoomId" />
        <input hidden asp-for="@Model.Room.ChatRoomOwner" />
        <div class="mb-1">
            <label for="name">Name:</label><br>
            <input required type="text" id="name" asp-for="@Model.Room.ChatRoomName" placeholder="@Model.Room.ChatRoomName">
        </div>
        <div class="mb-2">
            <input type="submit" />
        </div>
    </form>
</div>
