@page
@model Anslagstavlan.Pages.SignUpModel
@{
}

<div class="text-center">
    <h1>Sign up account</h1>
</div>

<div class="text-center">
    <form method="post">
        <div class="mb-1">
            <label for="username">Username:</label><br>
            <input required type="text" id="username" asp-for="@Model.User.Username">
        </div>
        <div class="mb-2">
            <input type="submit" />
        </div>
    </form>
</div>
